
*{
    font-family: "Roboto", sans-serif;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #4CAF50;
      justify-content: space-between;
border-radius: 4px;
}

li {
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; 
   border-radius: 8px;

}

li a:hover {
    background: #209f24;
}