<div class="full-page">
    <div class="form">
        <form class="register-form">
            <input type="text" placeholder="username" required />
            <input type="text" placeholder="email address" required />
            <input type="password" placeholder="password" required />
            <input type="password" placeholder="confirm password" required />
            
<div class="choice"  style="float: left;">
                <input type="radio" id="recruter" name="job">
                <label for="recruter">recruter</label>
          </div>
             <div class="choice" style="float: right;">
                
                <input type="radio" id="candidate" name="job">
                <label for="candidate">candidate</label>
</div>            
            <button>create</button>
            <p class="message">Already registered?
                <a routerLink="/login">Sign In</a>
            </p>
        </form>
    </div>
</div>