<div class="full-page">
    <div class="form">
        <form class="register-form">
            <input type="text" placeholder="username" required />
            <input type="text" placeholder="email address" required />
            <input type="password" placeholder="password" required />
            <input type="password" placeholder="confirm password" required />
            <div>

                
              
                <label class="rad-label">
                  <input type="radio" class="rad-input" name="job">
                  <div class="rad-design"></div>
                  <div class="rad-text">recruter</div>
                </label>
              
               
                <label class="rad-label">
                  <input type="radio" class="rad-input" name="job">
                  <div class="rad-design"></div>
                  <div class="rad-text">applicant</div>
                </label>
              
              </div>
                 
            <button>create</button>
            <p class="message">Already registered?
                <a routerLink="/login">Sign In</a>
            </p>
        </form>
    </div>
</div>